div{
    font-weight: 700;
    height: 100px;
    width: 400px;
    border:2px solid #f00;
    background: url('./img/banner.jpg') !important;
    p{
        color:red;
    }
}
// body{
//     // background: url('../../APPcommon/img/fav.png');
    
// }